@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-orange: #F15A29;
  --primary-orange-dark: #DB4511;
  --primary-orange-light: #FF8C5A;
  --footer-bg: #2B1810;
  --nav-active: #DB4511;
  --nav-inactive: #2F1306;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit  ;
  text-decoration: none;
}


@keyframes fadeIn { from { opacity: 0; transform: translateY(-20px);} to { opacity: 1; transform: translateY(0);} }
.animate-fadeIn { animation: fadeIn 0.4s cubic-bezier(0.4,0,0.2,1); }